body{
    margin: 20px;
    font-family: Poppins;
}

.icon-back{
    margin: 5px;
    cursor: pointer;
}

h2{
    margin-left: 50px;
    font-weight: 500;
}

p{
    text-align: center;
    font-size: 20px;
}

.forgot-container {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin-left: 32%;
    border: 2px solid #22bbea;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forgot-container img {
    width: 250px;
    margin-bottom: 50px;
}
.forgot-container label {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
}
.forgot-container input[type="text"],
.forgot-container input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.forgot-container button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.forgot-container button:hover {
    background-color: #0056b3;
}
